@font-face {
  font-family: f1;
  src: url(fonts/GermaniaOne-Regular.ttf);
}
@font-face {
  font-family: f2;
  src: url(fonts/UncialAntiqua-Regular.ttf);
}

@font-face {
  font-family: f3;
  src: url(fonts/Gabarito-VariableFont_wght.ttf);
}
@font-face {
  font-family: f4;
  src: url(fonts/Inconsolata-VariableFont_wdth\wght.ttf);
}
/* PRELOADER */
.preloader {
  position: fixed;
  inset: 0;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  overflow: hidden;

  /* background: linear-gradient(
    -45deg,
    #000000,
    #0091ff,
    #000713,
    #ff0000
  );
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite; */
}

/* Smooth Gradient Animation */
/* @keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */


.loader-content {
  text-align: center;
  color: white;
}

.loader-text {
  font-size: 4rem !important;
  letter-spacing: 6px;
  margin-bottom: 20px;
  display: inline-block;
  color: white;
  /* font-family: "f2", "Courier New" ; */
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.loader-bar {
  width: 380px;
  height: 8px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

.loader-progress {
  width: 0%;
  height: 100%;
  background: var(--primary);
  border-radius: 10px;
}

.loader-percent {
  font-size: 1.2rem;
  opacity: 0.7;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .loader-text {
    font-size: 3rem !important;
    letter-spacing: 5px;
  }

  .loader-bar {
    width: 265px;
    height: 5px;
  }
}


.bubble-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

.bubble {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 10px 40px rgba(219, 219, 219, 0.3);
}

.bubble img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 5px;
  object-fit: cover;
}

.bubble span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 0.8;
  color: var(--text);
}

/* Random positions */
.bubble:nth-child(1) { top: 20%; left: 10%; }
.bubble:nth-child(2) { top: 65%; left: 13%; }
.bubble:nth-child(3) { top: 20%; right: 15%; }
.bubble:nth-child(4) { bottom: 20%; right: 20%; }

/* Responsive */
@media (max-width: 768px) {
  .bubble {
    width: 110px;
    height: 110px;
  }
  .bubble img {
    width: 75px;
    height: 75px;
  }
}